<div class="page-header">
  <h1>Plantation's List</h1>
</div>

<p>
  <%= link_to "Add new plantation", new_plantation_path, class: 'btn btn-primary' %>
</p>

<div>
  <% @plantations.each do |plantation| %>
    <h3><%= link_to plantation.name, plantation %></h3>
  <% end %>
</div>

